[pull]
	rebase = true
[init]
	defaultBranch = main
[pager]
	branch = false
[core]
	editor = vi
	autocrlf = input
	hooksPath = ~/.git_template/hooks
	ignorecase = false
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[include]
	path = ~/.gitconfig_personal
[includeIf "gitdir:~/Workspaces/datable/"]
	path = ~/.gitconfig_company
