[pull]
  rebase = true
[init]
  defaultBranch = main
  templateDir = ~/.git
[pager]
  branch = false
[core]
  editor = vim
  autocrlf = input
  hooksPath = ~/.git/hooks
  ignorecase = false
[commit]
  template = ~/.git/templates/gitmessage
[diff]
  tool = code
[difftool "code"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[include]
  path = ~/.gitconfig_personal
[includeIf "gitdir:~/Workspaces/datable/"]
  path = ~/.gitconfig_company
