[init]
  defaultBranch = main
  templateDir = ~/.dotfiles/git
[pager]
  branch = false
[core]
  editor = vim
  autocrlf = input
  hooksPath = ~/.dotfiles/git/hooks
  ignorecase = false
[pull]
  rebase = true
[diff]
  tool = code
[difftool "code"]
  cmd = code --wait --diff $LOCAL $REMOTE
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[include]
  path = ~/.dotfiles/git/configs/personal.ini
[includeIf "gitdir:~/Workspaces/@datable/"]
  path = ~/.dotfiles/git/configs/datable.ini
